<div class="features-container">
    <div class="page-width">
      <div class="features-header-row">
        <div class="features-heading" align="center">
          STEEL COOKER BENEFITS AND FEATURES
        </div>
        <div class="100-steel-logo">
          <img
            class="steel-100"
            src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/100-YEAR-LOGO.png?v=1662597482"
          />
        </div>
      </div>
      <div class="oven-functions-section">
        <div class="functions-heading">
          15 MAIN OVEN FUNCTIONS – ASCOT & GENESI RANGES
        </div>
        <div class="functions-content">
          <div class="function-text">
            <ol class="funtion-points">
              <li>F1 Defrost</li>
              <li>F2 Upper + Lower</li>
              <li>F3 Upper</li>
              <li>F4 Lower + Steam</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
              <li>F6 Fan Grill / Rotisserie</li>
              <li>F7 Fan Steam</li>
              <li>F7 Upper + Lower + Fan</li>
              <li>F8 Hot Air</li>
              <li>F9 Fast Heat</li>
              <li>Meat Probe</li>
              <li>Steam Cleaning (Built into programs)</li>
              <li>Rising (Built into programs)</li>
              <li>Pizze (Built into programs)</li>
            </ol>
          </div>
          <div class="function-image-section">
            <img
              class="function-image"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Screenshot_1.png?v=1662601813"
            />
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">AUXILLARY OVEN FUNCTION</div>
        <div class="functions-content">
          <div class="function-text">
            <ol class="funtion-points">
              <li>Upper + Lower</li>
              <li>Upper</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          10 MAIN OVEN FUNCTIONS – ENFASI & OXFORD RANGES
        </div>
        <div class="functions-content function-row-reverse">
          <div class="function-image-section">
            <img
              class="function-image"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Screenshot_1.png?v=1662601813"
            />
          </div>
          <div class="function-text">
            <ol class="funtion-points">
              <li>F1 Defrost</li>
              <li>F2 Upper + Lower</li>
              <li>F3 Upper</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
              <li>F6 Fan Grill / Rotisserie</li>
              <li>F7 Upper + Lower + Fan</li>
              <li>F8 Hot Air</li>
              <li>F9 Fast Heat</li>
              <li>Meat Probe</li>
              <li>Light Only</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          LARGE 91LTR OR 70LTR STEAM OVEN FUNCTIONS
        </div>
        <div class="features-container2">
          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F1.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">DEFROST</strong>
              <p>
                The oven fan circulates air around the food, defrosting the
                food evenly and quicker in a food safe environment.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F2.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP & BOTTOM ELEMENT</strong>
              <p>
                Great for dishes with crispy bases and brown tops like
                quiches. Certain dishes work better with moisture evaporated
                so they don’t become soggy, like lasagne!
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F3.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP ELEMENT</strong>
              <p>
                Perfect for browning dishes, while cooking through. Also, for
                gentle dehydrating of fruits and vegetables.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F4.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">STEAM </strong>
              <p>
                Gentle steam cooking that keeps the moisture, nutrients, and
                vitamins inside your food. The food stays moist, take less
                time to cook and is healthier. Great for fish & vegetables.
                Also, amazing for moist cakes like mud cake and fruit cake
                without needing a Bain Marie.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F5.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">GRILL </strong>
              <p>
                From toast to grilling cheese, STEEL has one of the largest,
                most powerful grills on the market
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F6.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">ROTISSERIE </strong>
              <p>
                The perfect roasting oven function. Crisps up and browns while
                the food circulating cooks the food consistently throughout.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7.png?v=1662608733"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN STEAM </strong>
              <p>
                Soft, moist cooking environment that saves time and cooks
                perfectly. Great for fish, vegetable and any dish that isn’t
                designed to be dried out. Especially great for pastries.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7.png?v=1662608733"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN FORCED </strong>
              <p>
                Great for quicker general cooking. The circulating hot air
                evenly cooks food. Great for multilevel baking of biscuits,
                and even golden baking of sponge cakes.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F9.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">RAPID HEAT </strong>
              <p>
                This function uses all the oven elements to bring the oven to
                the selected temperature very quickly. Once its reached
                temperature, simply choose the appropriate function for the
                dish.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Probe.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TEMPERATURE PROBE </strong>
              <p>
                4 sensors make this feature this not only great for perfect
                protein cooking, but also for poaching, cake baking and
                63-degree eggs.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Other.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">STEAM CLEAN </strong>
              <p>
                coated with the highest-grade enamel, the STEEL oven is a
                breeze to clean with a designated cleaning program. Running
                for 60mins, the oven uses 250ml water to create all-natural
                steam softening and break down grim for a wipe down, chemical
                free clean.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ENFASI AND OXFORD OVEN FUNCTIONS  -->

      <div class="oven-functions-section">
        <div class="functions-heading">ENFASI AND OXFORD OVEN FUNCTIONS</div>
        <div class="features-container2">
          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F1.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">DEFROST</strong>
              <p>
                The oven fan circulates air around the food, defrosting the
                food evenly and quicker in a food safe environment.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F2.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP & BOTTOM ELEMENT</strong>
              <p>
                Great for dishes with crispy bases and brown tops like
                quiches. Certain dishes work better with moisture evaporated
                so they don’t become soggy, like lasagne!
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F3.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP ELEMENT</strong>
              <p>
                Perfect for browning dishes, while cooking through. Also, for
                gentle dehydrating of fruits and vegetables.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F4-2.png?v=1662962310"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">BOTTOM ELEMENT </strong>
              <p>
                This function is brilliant for crisp bases like pie cases and
                tart bases. Perfect for some crunchy biscuit recipes, and
                tuilles.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F5.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">GRILL </strong>
              <p>
                From toast to grilling cheese, STEEL has one of the largest,
                most powerful grills on the market
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F6.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">ROTISSERIE </strong>
              <p>
                The perfect roasting oven function. Crisps up and browns while
                the food circulating cooks the food consistently throughout.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7-2.png?v=1662962310"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">PIZZA/FAN GRILL </strong>
              <p>
                Using the top & bottom elements, the oven has the perfect
                environment for cooking delicious pizza. Browning and melting
                the cheese and top while the bottom element crisps the base.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F8.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN FORCED </strong>
              <p>
                Great for quicker general cooking. The circulating hot air
                evenly cooks food. Great for multilevel baking of biscuits,
                and even golden baking of sponge cakes.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F9.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">RAPID HEAT </strong>
              <p>
                This function uses all the oven elements to bring the oven to
                the selected temperature very quickly. Once its reached
                temperature, simply choose the appropriate function for the
                dish.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Probe.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TEMPERATURE PROBE </strong>
              <p>
                4 sensors make this feature this not only great for perfect
                protein cooking, but also for poaching, cake baking and
                63-degree eggs.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="features-header-row">
        <div class="features-heading" align="center">COOKER FEATURES</div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">HOW IT'S BUILT</div>
        {% comment %} <img
          class="features-large-images"
          src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/modern-updated-kitchen-interior-home_1296x.jpg?v=1660262357"
        /> {% endcomment %}
        <br/> <p class="features-large-text" style="text-align:justify;">
          On average, a STEEL cooker is 30% heavier than the competitors on
          the market. Made of solid construction, including solid metal knobs,
          metal-built body, Heavy cast iron griddles and solid metal handles.
          STEEL cookers use highest grade insulation, in double the standard
          industry thickness. This keeps the heat inside the cooker, meaning
          the power consumed is effective in heating the oven rather than the
          surrounding atmosphere. It also means STEEL cookers have 4cm thick
          sides with zero clearance to cabinetry, no gaps that encourage
          kitchen grease and grime build up. These gaps are nearly impossible
          to clean without removing the whole cooker.<br />
          The insulation also assists in the longevity of the oven’s elements.
          More consistent heat means the elements no longer must turn on and
          off continuously to keep the selected temperature. This extends the
          life of the elements. Keeping the oven temperature consistent is
          also achieved by the cool touch doors.<br />

          They are made commercial grade materials where possible. From the
          6mm glass on the oven’s doors, to the 6mm thick oven racking system,
          STEEL cuts no corners in quality.
        </p>
      </div>

      {% comment %} <div class="oven-functions-section">
        <div class="functions-heading">BRASS BURNERS</div>
        <img class="features-large-images" src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/BRASS_BURNER_n.jpg?v=1662704351" />
        <br/> <p class="features-large-text">
          STEEL has developed and designed with Sabaf, the largest and renown
          manufacturer of gas burners, its own burner design. The STEEL brass
          burners rings are made completely of brass, the burner caps are
          coated in of VERY high-quality enamel. The STEEL burners boast a 60%
          efficiency, compared to the industry standard of 50%. STEEL brass
          mega wok is 6kW.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">INDUCTION HOB</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          The new Steel induction cooktops feature a rectangular zone with
          flex induction, which automatically detects the shape and size of
          the cookware used and adjusts the heated zones accordingly. Frontal
          control knobs allow maximum utilisation of the cooking zones.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">TFT CONTROLS</div>
        <img class="features-large-images" src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/TFT_CONTROL.jpg?v=1662962913" />
        <br/> <p class="features-large-text">
          Easy to use, clear large text and easy to programme. Controlled by
          the knobs on the front so the screen always stays clear.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">TEMPERATURE PROBE</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          New design, precision probe. Not just for meat, with 4 sensors, this
          probe is sensitive enough to be used for cakes, steaming, meats, and
          baking. Accurate to 2 degrees.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">PATENTED INVENT TWIN FAN SYSTEM</div>
        <img class="features-large-images" src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/INNVENT_FAN_SYSTEM.jpg?v=1662962918" />
        <br/> <p class="features-large-text">
          The new anniversary range features a STEEL patented twin fan system.
          This system has two counter rotating fans that draw air in behind
          the rear oven panel and distribute it back into the oven using a
          perimetrical air flow for the ultimate in even cooking.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          COMMERCIAL STYLE OVEN FITTINGS WITH TELESCOPIC RACKS
        </div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          Anniversary range cookers feature the new heavy duty commercial
          grade trays, liners and telescopic racks that will never bow or
          twist even when using cast iron pans and trays.<br />
          Made from easy to clean, high grade, 6mm thick 304 grade stainless
          steel.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          COOL TOUCH DOORS WITH SOFT & SILENT CLOSE
        </div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          NEW STEEL cookers are fitted with Soft & silent closing hinges. 20%
          cooler oven door temperature. 3 solid glass panel in up to 6mm
          thickness, creates a cool zone between the oven heat, and the
          outside temperature. Very important for little helping hands in the
          kitchen.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">DYNAMIC OVEN LIGHTING</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          3 internal oven lamps strategically located to give clear and crisp
          internal lighting. Easy to check the progress during cooking without
          opening the door.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">ANGLED CONTROL FASCIA – GENESI</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text"></p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">NEW HANDLE DESIGN TO GENESI</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text"></p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">HIGHEST ‘SPECIFIC POWER’ - TBC</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text"></p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">POWER GRILL –STEEL</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          Power Grill is the one of the most powerful on the market. A huge
          2.87kW grill element in an extra-wide format means super quick heat
          up, and even browning of large dishes.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">EASY CLEAN HOB</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          STEEL gas cookers feature a fully moulded one-piece embossed 441
          grade stainless hob. Why? No exposed screws to accumulate grime and
          dirt. Making the STEEL hob easy to clean. The 441 Grade stainless is
          resistant to scratching and discolouration.
        </p>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">OVEN TIMER PROGRAMMING</div>
        <img class="features-large-images" src="" />
        <br/> <p class="features-large-text">
          The oven controls allow for programming the start time, cooking
          duration time, and end time (example – to be ready at 6 p.m, for 2
          hours cooking time, the oven will automatically start at 4 p.m.) and
          you can delay the start time also (example - oven to start at 5pm).
        </p>
      </div> 

      <div class="features-header-row">
        <div class="features-heading" align="center">
          OPTIONAL ACCESSORIES
        </div>
      </div>

      {% endcomment %}

    </div>
  </div>

  {% style %}

    .features-container {
      /* margin: 0 10%; */
    }
    .features-header-row {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .features-heading {
      width: 80%;
      font-weight: bold;
      font-size: 30px;
    }
    .steel-100 {
      width: 150px;
    }
    .oven-functions-section {
      margin-top: 3rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .functions-heading {
      font-size: 20px;
      font-weight: bold;
      padding-bottom:14px;
    }

    .functions-content {
      /* width: 75%; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* background-color: antiquewhite; */
      margin: auto;
    }
    .function-text {
      /* width: 50%; */
    }

    .funtion-points {
    }
    .function-image-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .function-image {
    }
    .features-container2 {
      display: flex;
      flex-wrap: wrap;
    }

    .keyfeatures {
      margin: 2rem 2rem 0rem 0;
      display: flex;
      width: 47%;
    }

    .keyfeatures-text {
      margin-left: 30px;
      text-align: justify;
    }

    .feature-icon {
      width: 60px;
      max-height: 60px;
    }

    .features-large-images {
      /* width: 100%; */
      max-height:550px;
      margin-top: 1.5rem;
    }
    @media screen and (max-width: 1681px) {
      .keyfeatures {
        width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      .keyfeatures {
        width: 100%;
      }
    }
    @media screen and (max-width: 959px) {
      .features-container {
        margin: 0 5%;
      }
      .features-header-row {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .features-heading {
        width: 80%;
        font-weight: bold;
        font-size: 24px;
      }
      .steel-100 {
        width: 100px;
      }
      .oven-functions-section {
        margin-top: 3rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .function-image {
        width: 90%;
      }
    }
    {% endstyle %}

{% schema %}
{
"presets": [
{
"name": "Features Page",
"category": "Advanced Layout"	
}
]
}
{% endschema %}