<div class="features-container">
    <div class="page-width">
      <div class="features-header-row">
        <div class="features-heading" align="center">
          STEEL COOKER BENEFITS AND FEATURES
        </div>
        <div class="100-steel-logo">
          <img
            class="steel-100"
            src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/100-YEAR-LOGO.png?v=1662597482"
          />
        </div>
      </div>
      <div class="oven-functions-section">
        <div class="functions-heading">
          15 MAIN OVEN FUNCTIONS – ASCOT & GENESI RANGES
        </div>
        <div class="functions-content">
          <div class="function-text">
            <ol class="funtion-points">
              <li>F1 Defrost</li>
              <li>F2 Upper + Lower</li>
              <li>F3 Upper</li>
              <li>F4 Lower + Steam</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
              <li>F6 Fan Grill / Rotisserie</li>
              <li>F7 Fan Steam</li>
              <li>F7 Upper + Lower + Fan</li>
              <li>F8 Hot Air</li>
              <li>F9 Fast Heat</li>
              <li>Meat Probe</li>
              <li>Steam Cleaning (Built into programs)</li>
              <li>Rising (Built into programs)</li>
              <li>Pizze (Built into programs)</li>
            </ol>
          </div>
          <div class="function-image-section">
            <img
              class="function-image"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Screenshot_1.png?v=1662601813"
            />
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">AUXILLARY OVEN FUNCTION</div>
        <div class="functions-content">
          <div class="function-text">
            <ol class="funtion-points">
              <li>Upper + Lower</li>
              <li>Upper</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          10 MAIN OVEN FUNCTIONS – ENFASI & OXFORD RANGES
        </div>
        <div class="functions-content function-row-reverse">
          <div class="function-image-section">
            <img
              class="function-image"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Screenshot_1.png?v=1662601813"
            />
          </div>
          <div class="function-text">
            <ol class="funtion-points">
              <li>F1 Defrost</li>
              <li>F2 Upper + Lower</li>
              <li>F3 Upper</li>
              <li>F4 Lower</li>
              <li>F5 Grill</li>
              <li>F6 Fan Grill / Rotisserie</li>
              <li>F7 Upper + Lower + Fan</li>
              <li>F8 Hot Air</li>
              <li>F9 Fast Heat</li>
              <li>Meat Probe</li>
              <li>Light Only</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="oven-functions-section">
        <div class="functions-heading">
          LARGE 91LTR OR 70LTR STEAM OVEN FUNCTIONS
        </div>
        <div class="features-container2">
          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F1.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">DEFROST</strong>
              <p>
                The oven fan circulates air around the food, defrosting the
                food evenly and quicker in a food safe environment.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F2.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP & BOTTOM ELEMENT</strong>
              <p>
                Great for dishes with crispy bases and brown tops like
                quiches. Certain dishes work better with moisture evaporated
                so they don’t become soggy, like lasagne!
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F3.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP ELEMENT</strong>
              <p>
                Perfect for browning dishes, while cooking through. Also, for
                gentle dehydrating of fruits and vegetables.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F4.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">STEAM </strong>
              <p>
                Gentle steam cooking that keeps the moisture, nutrients, and
                vitamins inside your food. The food stays moist, take less
                time to cook and is healthier. Great for fish & vegetables.
                Also, amazing for moist cakes like mud cake and fruit cake
                without needing a Bain Marie.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F5.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">GRILL </strong>
              <p>
                From toast to grilling cheese, STEEL has one of the largest,
                most powerful grills on the market
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F6.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">ROTISSERIE </strong>
              <p>
                The perfect roasting oven function. Crisps up and browns while
                the food circulating cooks the food consistently throughout.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7.png?v=1662608733"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN STEAM </strong>
              <p>
                Soft, moist cooking environment that saves time and cooks
                perfectly. Great for fish, vegetable and any dish that isn’t
                designed to be dried out. Especially great for pastries.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7.png?v=1662608733"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN FORCED </strong>
              <p>
                Great for quicker general cooking. The circulating hot air
                evenly cooks food. Great for multilevel baking of biscuits,
                and even golden baking of sponge cakes.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F9.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">RAPID HEAT </strong>
              <p>
                This function uses all the oven elements to bring the oven to
                the selected temperature very quickly. Once its reached
                temperature, simply choose the appropriate function for the
                dish.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Probe.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TEMPERATURE PROBE </strong>
              <p>
                4 sensors make this feature this not only great for perfect
                protein cooking, but also for poaching, cake baking and
                63-degree eggs.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Other.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">STEAM CLEAN </strong>
              <p>
                coated with the highest-grade enamel, the STEEL oven is a
                breeze to clean with a designated cleaning program. Running
                for 60mins, the oven uses 250ml water to create all-natural
                steam softening and break down grim for a wipe down, chemical
                free clean.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ENFASI AND OXFORD OVEN FUNCTIONS  -->

      <div class="oven-functions-section">
        <div class="functions-heading">ENFASI AND OXFORD OVEN FUNCTIONS</div>
        <div class="features-container2">
          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F1.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">DEFROST</strong>
              <p>
                The oven fan circulates air around the food, defrosting the
                food evenly and quicker in a food safe environment.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F2.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP & BOTTOM ELEMENT</strong>
              <p>
                Great for dishes with crispy bases and brown tops like
                quiches. Certain dishes work better with moisture evaporated
                so they don’t become soggy, like lasagne!
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F3.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TOP ELEMENT</strong>
              <p>
                Perfect for browning dishes, while cooking through. Also, for
                gentle dehydrating of fruits and vegetables.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F4-2.png?v=1662962310"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">BOTTOM ELEMENT </strong>
              <p>
                This function is brilliant for crisp bases like pie cases and
                tart bases. Perfect for some crunchy biscuit recipes, and
                tuilles.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F5.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">GRILL </strong>
              <p>
                From toast to grilling cheese, STEEL has one of the largest,
                most powerful grills on the market
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F6.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">ROTISSERIE </strong>
              <p>
                The perfect roasting oven function. Crisps up and browns while
                the food circulating cooks the food consistently throughout.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F7-2.png?v=1662962310"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">PIZZA/FAN GRILL </strong>
              <p>
                Using the top & bottom elements, the oven has the perfect
                environment for cooking delicious pizza. Browning and melting
                the cheese and top while the bottom element crisps the base.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F8.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">FAN FORCED </strong>
              <p>
                Great for quicker general cooking. The circulating hot air
                evenly cooks food. Great for multilevel baking of biscuits,
                and even golden baking of sponge cakes.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/F9.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">RAPID HEAT </strong>
              <p>
                This function uses all the oven elements to bring the oven to
                the selected temperature very quickly. Once its reached
                temperature, simply choose the appropriate function for the
                dish.
              </p>
            </div>
          </div>

          <div class="keyfeatures">
            <img
              class="wlpool-logo-item feature-icon"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/Probe.png?v=1662608732"
            />
            <div class="keyfeatures-text">
              <strong style="font-size: 16px">TEMPERATURE PROBE </strong>
              <p>
                4 sensors make this feature this not only great for perfect
                protein cooking, but also for poaching, cake baking and
                63-degree eggs.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% style %}

    .features-container {
      /* margin: 0 10%; */
    }
    .features-header-row {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .features-heading {
      width: 80%;
      font-weight: bold;
      font-size: 30px;
    }
    .steel-100 {
      width: 150px;
    }
    .oven-functions-section {
      margin-top: 3rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .functions-heading {
      font-size: 20px;
      font-weight: bold;
      padding-bottom:14px;
    }

    .functions-content {
      /* width: 75%; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* background-color: antiquewhite; */
      margin: auto;
    }
    .function-text {
      /* width: 50%; */
    }

    .funtion-points {
    }
    .function-image-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .function-image {
    }
    .features-container2 {
      display: flex;
      flex-wrap: wrap;
    }

    .keyfeatures {
      margin: 2rem 2rem 0rem 0;
      display: flex;
      width: 47%;
    }

    .keyfeatures-text {
      margin-left: 30px;
      text-align: justify;
    }

    .feature-icon {
      width: 60px;
      max-height: 60px;
    }

    .features-large-images {
      /* width: 100%; */
      max-height:550px;
      margin-top: 1.5rem;
    }
    @media screen and (max-width: 1681px) {
      .keyfeatures {
        width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      .keyfeatures {
        width: 100%;
      }
    }
    @media screen and (max-width: 959px) {
      .features-container {
        margin: 0 5%;
      }
      .features-header-row {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .features-heading {
        width: 80%;
        font-weight: bold;
        font-size: 24px;
      }
      .steel-100 {
        width: 100px;
      }
      .oven-functions-section {
        margin-top: 3rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .function-image {
        width: 90%;
      }
    }
    {% endstyle %}

{% schema %}
{
"presets": [
{
"name": "Features Page",
"category": "Advanced Layout"	
}
]
}
{% endschema %}