<div class="features-header-row ">
    <div class="features-heading" align="center">ASCOT & GENESI COOKER FEATURES</div>
  </div>

  {% comment %} <div class="oven-functions-section page-width">
    {% comment %} <div class="functions-heading">HOW IT'S BUILT</div> {% endcomment %}
    {% comment %} <img
      class="features-large-images"
      src="https://cdn.shopify.com/s/files/1/0653/9103/4619/files/modern-updated-kitchen-interior-home_1296x.jpg?v=1660262357"
    /> {% endcomment %}
    <br/> <p class="features-large-text" style="text-align:justify;">
        Our Ascot & Genesi combi steam ovens are well-equipped as standard: professional wire shelf racks, an enamelled baking sheet, a stainless steel baking sheet – all safely and easily extractable via telescopic runners. A trivet for roasting, a temperature probe, motorised rotisserie, and removable side panels, which can be dishwasher-cleaned. In addition, there is a long list of further accessories aimed at personalisation of your oven in line with your cooking preferences: e.g. the wire shelf for steam cooking, a refractory pizza stone in a stainless steel support tray together with a peel (pizza spatula). Meeting the highest safety requirements of their category, the oven door features not only a cool unbreakable triple glass, but also a sophisticated cushioning mechanism for elegant closing and opening with anti-tilt system.
    </p>
  </div> {% endcomment %}


  {% style %}

  .features-container {
    /* margin: 0 10%; */
  }
  .features-header-row {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-heading {
    width: 80%;
    font-weight: bold;
    font-size: 30px;
  }

  .oven-functions-section {
      margin-top: 3rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .functions-heading {
      font-size: 20px;
      font-weight: bold;
      padding-bottom:14px;
    }

  {% endstyle %}

  {% schema %}
{
"presets": [
{
"name": "How its built",
"category": "Advanced Layout"	
}
]
}
{% endschema %}